.movies-page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0 70px;
  min-height: calc(100vh - 246px);
}

.movies-page__search-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 70px 0 48px;
  gap: 29px;
}

.movies__error-api {
  width: 100%;
  margin: 40px 0 20px;
  color: #ee3465;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

@media screen and (max-width: 950px) {
  .movies-page {
    padding: 0 30px;
  }

  .movies-page__search-container {
    padding: 86px 0 61px;
  }
}

@media screen and (max-width: 650px) {
  .movies-page {
    padding: 0 10px;
  }

  .movies-page__search-container {
    margin: 0 4px;
    padding: 92px 0 50px;
  }

  .movies-page__search-container {
    gap: 42px;
  }

  .movies__error-api{
    font-size: 12px;
    line-height: 15px;
  }
}
