.page {
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #202020;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page__content {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 70px;
  /* border: 1px red solid */
}

@media screen and (max-width: 950px) {
  .page {
    padding: 0;
  }
}

@media screen and (max-width: 650px) {
  .page {
    padding: 0;
  }
}
