.landing {
  display: flex;
  flex-direction: column;
}

.landing__title {
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
  margin: 0;
}

.landing__decor-line {
  width: 100%;
  height: 1px;
}

.landing__paragraph {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
}
