.about-me {
  box-sizing: border-box;
  padding: 110px 0 125px 0;
}

.about-me__content {
  box-sizing: border-box;
  width: 100%;
}

.about-me__title {
  color: #fff;
  margin-bottom: 23px;
}

.about-me__decor-line {
  background-color: #dadada;
  margin-bottom: 66px;
}

.about-me__column {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
  margin-bottom: 100px;
}

.about-me__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-me__info-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.about-me__name-author {
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  margin: 0 0 18px 0;
  letter-spacing: -0.04em;
}

.about-me__profession {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  margin: 0 0 26px 0;
}

.about-me__description {
  color: #fff;
}

.about-me__link {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  margin: 0;
  padding-bottom: 1px;
  text-decoration: none;
  color: #fff;
  transition: opacity 0.3s ease-in-out;
}

.about-me__link:hover {
  opacity: 0.7;
}

.about-me__avatar {
  width: 270px;
  height: 327px;
  object-fit: cover;
  object-position: center;
  box-sizing: border-box;
  border-radius: 10px;
}
